a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Default Styling */

.wrapper {
    width: 80%;
    margin: 0 auto;
}

html {
    font-family: 'Comic Neue', cursive;
}

body {
    background-image: url('assets/Simpsons_Clouds.webp');
    background-size: contain;
    background-repeat: repeat;
}

a,
a:visited {
    text-decoration: none;
    color: #e0dbd1;
}

a:hover {
    color: #ff81c1;
}

/* Banner Styling */

header {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 85vh;
}

header h2 {
    font-family: 'Delius', cursive;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 50px;
    text-shadow: -2px 2px black;
    color: #fffd1f;
    width: 50%;
}

.bannerLogo {
    position: absolute;
    max-width: 200px;
    margin-top: 100px;
    left: 300px;
    transform: rotate(-20deg);
}

.bannerBoat {
    max-width: 250px;
    margin: 100px auto 0;
}

.bannerBoat:hover {
    animation: swing 2s;
}

.mrSparkle {
    max-width: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 80px;
    position: fixed;
    transition: 0.5s;

    }

    .mrSparkle:hover {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        cursor: pointer;
    }


/* Character Button Styling */

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    max-width: 50vw;
}

.buttonContainer:first-of-type {
        margin-top: 50px;
}

.characterCast .charButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ff81c1;
    transition: all .2s ease-in-out;
}

.characterCast button:hover {
    border: 5px solid #f8db27;
    transform: scale(1.2);
}

.characterCast > div {
    background-image: url('assets/TV.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.characterCast div div:first-child {
    padding-top: 115px;
}

.characterCast:after,
.characterCast:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    border-style: solid;
    border-width: 50px 0 50px 0;
    -moz-border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    -webkit-border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    -o-border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
}

/* Generated Elements Styling */

.chalkboard {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0;
    color: #e0dbd1;
    background-color: #102f21;
    border: double 3px #b46e37;
    padding: 30px;
}

footer:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    border-style: solid;
    border-width: 50px 0 50px 0;
    -moz-border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    -webkit-border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    -o-border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    border-image: url('assets/Donut.png') 0 0 533 0 repeat repeat;
    }
}

.generateImage {
    width: 20%;
}

.generateImage img {
    height: 100%;
    max-height: 350px;
}

.generateText {
    display: flex;
    width: calc(50% - 50px);
    flex-direction: column;
    justify-content: space-between;
    
    margin-left: 25px;
    margin-right: 25px;
}

.generateText span {
    display: block;
    text-decoration: underline;
}

.generateText h3 {
    font-size: 2rem;
    text-decoration: underline;
}

.generateText p,
.generateText h3 {
    padding: 10px;
    padding-right: 50px;
}

.generateVideo {
    width: 30%;
}

.generateVideo iframe {
    width: 100%;
    height: 100%;
}

/* Footer Styling */

footer p {
    font-family: 'Delius', cursive;
    color: #fffd1f;
    text-align: center;
    text-shadow: -2px 2px black;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Individual Button Styling */

#character1 {
    background: url('assets/Hank_Profile.jpg');
    background-size: cover;
}

#character2 {
    background: url('assets/Mindy_Profile.jpg');
    background-size: cover;
    background-position: center 20%;
}

#character3 {
    background: url('assets/Frank_Profile.jpg');
    background-size: cover;
}

#character4 {
    background: url('assets/Laura_Profile.jpg');
    background-size: cover;
    background-position: 40%;
}

#character5 {
    background: url('assets/Leon_Profile.png');
    background-size: cover;
    background-position: 60%;
}

#character6 {
    background: url('assets/John_Profile.jpg');
    background-size: cover;
    background-position: 50%;
}

.johnPic {
    max-width: 90%;
}

#character7 {
    background: url('assets/Drederick_Profile.jpg');
    background-size: cover;
    background-position:  50%;
}

#character8 {
    background: url('assets/Murphy_Profile.jpg');
    background-size: cover;
    background-position:  70%;
}

#character9 {
    background: url('assets/Number_One_Profile.png');
    background-size: cover;
}

#character10 {
    background: url('assets/Johnny_Profile.jpg');
    background-size: cover;
}

#character11 {
    background: url('assets/Lyle_Profile.jpg');
    background-size: cover;
    background-position:  40%;
}

.lylePic {
    max-width: 180%;
}

/* Media Queries */

/* 1080p Monitor */

@media (min-width: 1920px) {
    .characterCast:before,
    .characterCast:after {
        width: 8%;
    }

    .characterCast div div:first-child {
        padding-top: 200px;
    }

    .buttonContainer {
        margin-left: 200px;
    }

    footer:before {
        width: 8%;
    }

    .characterCast > div {
        height: 90vh;
    }
}

/* 1440p Monitor */

@media (min-width: 2556px) {
    .characterCast div div:first-child {
        padding-top: 350px;
    }

    .buttonContainer {
        margin-left: 300px;
    }
    
    footer:before {
        width: 8%;
    }
}